#swishBanner {
    width: 100%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: solid 2px rgb(248, 147, 31);
}

#swishHeader {
    font-family: "Tahoma", sans-serif;
    font-size: 80px;
    text-align: center;
    color: rgb(248, 147, 31);
}

#swishDescription {
    font-family: "Tahoma", sans-serif;
    font-size: 20px;
    text-align: center;
    color: rgb(248, 147, 31);
}

.redirectButton {
    font-family: "Tahoma", sans-serif;
    background-color: rgb(233, 159, 21);
    border: none;
    color: rgb(97, 97, 97);
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border-radius: 10px;
    margin-bottom: 10px;
}

.redirectButton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#footer {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    font-family: "Tahoma", sans-serif;
    font-size: 20px;
    text-align: center;
    border-top: solid 2px rgb(248, 147, 31);
    color: rgb(248, 147, 31);
    padding-top: 10px;
}

#api {
    margin-left: 275px;
    margin-right: 275px;
}

#apiHeader {
    font-family: Arial, sans-serif;
    font-size: 38px;
    color: rgb(233, 159, 21);
    margin-top: 10px;
    margin-bottom: 20px;
}

.section {
    margin-top: 20px;
}

.sectionHeaderText {
    font-family: Arial, sans-serif;
    font-size: 26px;
    color: rgb(233, 159, 21);
    margin-bottom: 6px;
}

.textContainer {
    font-family: Arial, sans-serif;
    font-size: 18px;
}

.sectionText {
    font-family: Arial, sans-serif;
    font-size: 18px;
}

.functionHeader {
    color: rgb(180, 117, 0);
    font-family: Arial, sans-serif;
    font-size: 22px;
}

.functionContainer {
    font-family: Arial, sans-serif;
    font-size: 18px;
    margin-top: 30px;
}